.register-form .input-item {
    padding: 8px 10px;
    font-size: 16px;
    width: 80%;
}

.register-form {
    background-color: white;
    padding: 10px 30px;
}

.register-form .input-title {
    text-align: right;
}

.register-form .input-title::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5.75px;
}

.register-form .remind-login {
    color: var(--grey-text);
    margin-bottom: 28px;
}

.register-form .remind-login .login {
    color: var(--primary-color);
    cursor: pointer;
}

.register-form .input-checkbox {
    margin-right: 10px;
    margin-bottom: 28px;
}

@media screen and (max-width: 998.98px) {
    .register-form .input-title {
        text-align: left;
    }

    .register-form .input-item {
        width: 100%;
    }

}