.input-search {
    padding: 8px 6px;
    border: none;
    outline: none;
    border: 1px solid var(--grey-text);
    border-radius: 4px;
}

.input-search:focus {
    border-color: var(--primary-color);
}

.form-search-content {
    align-items: center;
    padding: 10px 0;
}

.result-table .title {
    margin-top: 10px;
    margin-bottom: 10px;
}


.category-list .category-item {
    font-size: 16px;
}

td .edit-icon,
td .menu-icon,
td .delete-icon {
    font-size: 26px;
    padding: 0 2px;
}

.edit-icon:hover,
.menu-icon:hover,
.delete-icon:hover {
    color: var(--primary-color);
}

.pagination p {
    font-size: 12px;
}

.pagination button svg {
    font-size: 20px;
}

.input-search {
    padding: 10px 6px;
    border: none;
    outline: none;
    border: 1px solid var(--grey-text);
    border-radius: 4px;
    font-size: 14px;
}

.input-search:focus {
    border-color: var(--primary-color);
}

.form-search-content {
    align-items: center;
    padding: 10px 0;
}

.result-table .title {
    margin-top: 10px;
    margin-bottom: 10px;
}


.category-list .category-item {
    font-size: 14px;
}

.form-search-content .input-item,
.form-search-content .input-item option {
    padding: 10px 10px;
    font-size: 14px;
}

.pagination button {
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.form-search-content .btn-search {
    padding-block: 8px;
}

.main-content {
    background-color: white;
    padding: 24px 0;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.filter-form {
    padding-inline: 10px;
}