.input-search{
    padding: 10px 6px;
    border: none;
    outline: none;
    border: 1px solid var(--grey-text);
    border-radius: 4px;
    font-size: 14px;
}

.input-search:focus{
    border-color: var(--primary-color);
}

.form-search-content{
    align-items: center;
    padding: 10px 0;
}

.result-table .title{
    margin-top: 10px;
    margin-bottom: 10px;
}


.category-list .category-item{
    font-size: 14px;
}