.main-content {
    padding-top: 20px;
}

.password-page {
    padding: 10px 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}

.password-page .head {
    padding: 18px 0;
    border-bottom: 1px solid #efefef
}
.password-page .head .note {
    color: var(--grey-text);
    margin-top: 6px;
}
    


.password-page .input-item {
    padding: 6px 10px;
    font-size: 16px;
    width: 60%;
}

label{
    text-align: right;
}
.alert-success{
    margin-bottom: 20px;
}
.alert-success div:last-child {
    font-size: 14px;
}

.logo img{
    max-width: 100px;
}
.inner-content{
    padding-top: 70px;
    text-decoration: none;
}