.main-content {
    padding-top: 20px;
}

.password-page {
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
}

.password-page .head {
    padding: 18px 0;
    border-bottom: 1px solid #efefef
}
.password-page .head .note {
    color: var(--grey-text);
    margin-top: 6px;
}
    


.password-page .input-item {
    padding: 6px 10px;
    font-size: 16px;
    width: 60%;
}

label{
    text-align: right;
}