.edit-icon:hover
{
    color: var(--primary-color);
}


.edit-icon:hover,
.menu-icon:hover,
.delete-icon:hover
{
    color: var(--primary-color);
}
.pagination p
{
    font-size: 12px;
}

.pagination button svg{
    font-size: 20px;
}